.option-bar {
  margin: 50px auto;
}

.stations {
  height: 30px;
}

.date-picker {
  margin: 20px 0;
}

.content-wrap {
  width: 900px;
  max-width: 90%;
  margin: auto;
  max-height: 50vh;
  overflow-y: scroll;
}

.info {
  padding: 0 10px;
}

.time-row {
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(100, 100, 100);
}

.time-row:hover {
  background-color: rgb(150, 150, 150);
}
